.carousel-item{
    min-height: 800px; 
    min-width: 800px; 
    max-width: 800px; 
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    font-size: 0.5rem;
}
#ond{
    padding-right: 8px;
}
.bouton{
    margin-right: 10px;
    margin-bottom: 10px;
}
.jumbotron img {
    width:150px;
    height: 100%;
    overflow: auto;
}

/*.card-img-top{
    height: auto; 
    width: 100%; 
}
.div.card.mb-4.shadow-sm{
    height: 400px;
}