.carousel-item{
    height: auto; 
    width: auto; 
    max-width: 800px; 
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
}
/*.card-img-top{
    height: auto; 
    width: 100%; 
}
.div.card.mb-4.shadow-sm{
    height: 400px;
}